<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Libro</h4>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #formData="ngForm">
    <div class=" container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="form-group">
                        <label>Libro</label>                        
                        <ng-select [(ngModel)]="valSelect"id="bookid" name="bookid" >
                         <ng-option *ngFor="let op of lstBooks" [value]="op.id">{{op.title}}
                        </ng-option>
                    </ng-select>
        <label>Nombre</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="data.firstName" >
                        <label>Apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="data.lastName" />
                        <div class="form-group">
                            <button class="btn btn-primary m-7" (click)="onSubmit()">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>