<div class="container">
    <div class="col-12">
        <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Seleccione el libro</label>
                <select class="form-select" formControlName="idBook">
                    <option *ngFor="let x of lstBooks" [value]="x.id">{{x.title}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="firstName" />
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" formControlName="lastName" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary m-2 ">Aceptar</button>
            </div>


        </form>
    </div>
</div>